h1{
  font-family: Algerian;
  color: red;
  text-align: center;
  }
h2{
  font-family: Algerian;
  color: blue;
  text-align: center;
  }
h3{
  font-family: Algerian;
  color: green;
  text-align: center;
  }